<div>

    <h1>The Garden Path</h1>

    <h3>Some Plants</h3>
<div>
<a href = "/gardens/new">Add a new Plant</a>
</div>

{{#each garden.plants}}
<div>
    {{this.name}}
    
    <a href="/gardens/{{this._id}}"><img src="{{this.img}}"></a>

    {{!-- {{this.description}}
    {{this.price}}
   {{this.edible}} --}}

</div>
{{/each}}

</div>