<h1>Up The Garden Path</h1>

<a href = "/gardens/{{garden._id}}/plants/new" class="button">Add a new Plant</a>

<a href = "/" class="button">Return to Home</a> 


{{#each garden.plants}}

<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12">
                <div class="section">
                        <div class="col s12">
                     
                        </div>
                        <div class="col s12 m6 12">
                            <div class="card">
                                <div class="card-image waves-effect waves-block waves-light">
                                        <a href="/gardens/{{../garden._id}}/plants/{{this._id}}"><img class="responsive-img" src="{{this.img}}"></a>

                                </div>
                            </div>
                        </div>
                </div>
            </div>

        </div>
    </div>
</div>


{{/each}}




{{!-- 
<div class="container">
 

 {{!-- <h1>Up The Garden Path</h1>

<a href = "/gardens/{{garden._id}}/plants/new" class="button">Add a new Plant</a>

<a href = "/" class="button">Return to Home</a>

<div class="section">

<div class="row">

{{#each garden.plants}}

 
  <div class="col s12"> 
    <a href="/gardens/{{../garden._id}}/plants/{{this._id}}"><img class="responsive-img" src="{{this.img}}"></a>
  </div>  

{{!-- 

</div> !--row-
{{/each}}

</div> {{!--section--}}


</div> 
