<h1>{{plant.name}}'s Profile</h1>

<div>
    <img class="responsive-img" src="{{plant.img}}">
<div>

{{plant.description}}

<h2>Price: $ {{plant.price}} per plant</h2>


<div>
    <a href="/gardens/{{garden._id}}/plants/{{plant._id}}/edit" class="waves-teal btn-flat">Edit Plant</a>
</div>
<div>
    <a href="/gardens/{{garden._id}}/plants/{{plant._id}}/delete">Delete Plant</a>    
</div>
<div>
    <a href="/gardens">Return to main page</a>

</div>


</div>