<div class="plant-show">


    <h2>{{plant.name}}</h2>


    {{!-- <div>
        <img class="materialboxed" width="300" src="{{plant.img}}">
    </div> --}}
        <div>
        <img width="350" height="350" class="responsive-img" src="{{plant.img}}">
        </div>

            {{plant.description}}

            <h4>Price: $ {{plant.price}} per plant</h4>
            <h4>Quantity: {{plant.qty}}</h4>


            <div>
                <a href="/gardens/{{garden._id}}/plants/{{plant._id}}/edit" class="btn btn-small waves-effect green lighten-2">Edit Plant</a>
            </div>
            <div>
                <a href="/gardens/{{garden._id}}/plants/{{plant._id}}/delete" class="btn btn-small waves-effect green lighten-2">Delete Plant</a>
            </div>
            <div>
                <a href="/gardens" class="btn btn-small waves-effect green lighten-2">Return to garden</a>
            </div>


    </div> {{!-- plant show closing div--}}